*{
    box-sizing: border-box;
}

nav
{
    font-size: 0px;
}

nav ul
{
    background-color: #000;
    text-align: center;
    
}

nav li
{
  line-height:3rem;
    height:3rem;
    font-size:1.4rem;
    border-bottom: 1px dotted hsl(60, 20%, 80%);
    background-color:hsl(0, 70%, 60%);
    font-family: 'Oswald', sans-serif;
    letter-spacing: .1rem;
}  

nav a
{
    text-decoration: none;
    color: black;
    display: block;
}

nav li:hover
{
    background-color: hsl(0, 70%, 80%);
    transition:background-color .3s ease-in-out;
}

@media (min-width:600px)
{

    
    nav li
    {
        display:inline-block;
        border-bottom: none;
        width:7.5rem;
        
    }
    
}
